<div class="common-catagory">
    <h3>More Services</h3>
    <ul class="catagory">
        <li>
            <a href="/instant-loan.html">Instant Loan<i class='bx bx-plus'></i></a>
        </li>
        <li>
            <a href="/personal-loan.html">Personal Loan<i class='bx bx-plus'></i></a>
        </li>
        <li>
            <a href="/home-loan.html">Home Loan <i class='bx bx-plus'></i></a>
        </li>
        <li>
            <a href="/auto-loan.html">Auto Loan <i class='bx bx-plus'></i></a>
        </li>
        <li>
            <a href="/loan-against-property.html">Loan Against Property <i class='bx bx-plus'></i></a>
        </li>
        <li>
            <a href="/education-loan.html">Education Loan <i class='bx bx-plus'></i></a>
        </li>
        <li>
            <a href="/business-loan.html">Business Loan <i class='bx bx-plus'></i></a>
        </li>
        <!-- <li>
            <a href="/home-loan.html">Credit Analysis <i class='bx bx-plus'></i></a>
        </li>
        <li>
            <a href="/home-loan.html">CIBIL Score Improvement <i class='bx bx-plus'></i></a>
        </li> -->
    </ul>
</div>