<div class="price-area bg-price pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Pricing Table</span>
            <h2>How Much Our Service Costs?
            </h2>
        </div>


        <div id="prices-content">
            <div id="monthly" class="active prices-content-area animated">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-price">
                            <span>Basic Plan</span>
                            <div class="single-price-title">
                                <h2><sup>&#8377;</sup>30<sub>/month</sub></h2>
                            </div>
                            <ul>
                                <li>Analysis of Credit Report</li>
                                <li>Identification of Errors</li>
                                <li>Issue Resolution</li>
                                <li class="color-gray">Personalised Credit Expert</li>
                                <li class="color-gray">Score Improvement Program</li>
                                <li class="color-gray">Access to Senior Credit Expert</li>
                            </ul>
                            <a href="/contact.html" class="get-btn">Get Stated</a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-price current">
                            <span>Standard Plan</span>
                            <div class="single-price-title">
                                <h2><sup>&#8377;</sup>60<sub>/month</sub></h2>
                            </div>
                            <ul>
                                <li>Analysis of Credit Report</li>
                                <li>Identification of Errors</li>
                                <li>Issue Resolution</li>
                                <li>Personalised Credit Expert</li>
                                <li class="color-gray">Score Improvement Program</li>
                                <li class="color-gray">Access to Senior Credit Expert</li>
                            </ul>
                            <a href="/contact.html" class="get-btn">Get Stated</a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 ">
                        <div class="single-price">
                            <span>Premium Plan</span>
                            <div class="single-price-title">
                                <h2><sup>&#8377;</sup>90<sub>/month</sub></h2>
                            </div>
                            <ul>
                                <li>Analysis of Credit Report</li>
                                <li>Identification of Errors</li>
                                <li>Issue Resolution</li>
                                <li>Personalised Credit Expert</li>
                                <li>Score Improvement Program</li>
                                <li>Access to Senior Credit Expert</li>
                            </ul>
                            <a href="/contact.html" class="get-btn">Get Stated</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="single-price">
                            <span>Commercial Plan</span>
                            <div class="single-price-title">
                                <h2><sup>&#8377;</sup>90<sub>/month</sub></h2>
                            </div>
                            <ul>
                                <li>For Corporate& MSMEs</li>
                                <li>Analysis of Credit Report</li>
                                <li>Identification of Errors</li>
                                <li>Issue Resolution</li>
                                <li>Personalised Credit Expert</li>
                                <li>Score Improvement Program</li>
                                <li>Access to Senior Credit Expert</li>
                            </ul>
                            <a href="/contact.html" class="get-btn">Get Stated</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div id="yearly" class="animated prices-content-area">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-price">
                            <span>Basic Plan</span>
                            <div class="single-price-title">
                                <h2><sup>&#8377;</sup>70<sub>/Year</sub></h2>
                            </div>
                            <ul>
                                <li>Analysis of Credit Report</li>
                                <li>Identification of Errors</li>
                                <li>Issue Resolution</li>
                                <li class="color-gray">Personalised Credit Expert</li>
                                <li class="color-gray">Score Improvement Program</li>
                                <li class="color-gray">Access to Senior Credit Expert</li>
                            </ul>
                            <a href="/contact.html" class="get-btn">Get Stated</a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-price current">
                            <span>Standard Plan</span>
                            <div class="single-price-title">
                                <h2><sup>&#8377;</sup>120<sub>/Year</sub></h2>
                            </div>
                            <ul>
                                <li>Analysis of Credit Report</li>
                                <li>Identification of Errors</li>
                                <li>Issue Resolution</li>
                                <li>Personalised Credit Expert</li>
                                <li class="color-gray">Score Improvement Program</li>
                                <li class="color-gray">Access to Senior Credit Expert</li>
                            </ul>
                            <a href="/contact.html" class="get-btn">Get Stated</a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0">
                        <div class="single-price">
                            <span>Premium Plan</span>
                            <div class="single-price-title">
                                <h2><sup>&#8377;</sup>170<sub>/Year</sub></h2>
                            </div>
                            <ul>
                                <li>Analysis of Credit Report</li>
                                <li>Identification of Errors</li>
                                <li>Issue Resolution</li>
                                <li>Personalised Credit Expert</li>
                                <li>Score Improvement Program</li>
                                <li>Access to Senior Credit Expert</li>
                            </ul>
                            <a href="/contact.html" class="get-btn">Get Stated</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>